# Basic Integration Of Druid and Plotly

**Outline:** The user would like to analyze the orders placed on his ecommerce website over the last 5 hours. Using Python, the user queries the data in Druid and exports the time series to a pandas data frame. The user then proceeds to calculate some basic descriptive statistics using pandas, such as the number of orders, the average order value, the minimum and maximum order values, etc. After that, the user uses Plotly to generate an interactive plot of the time series. The plot indicates a seasonal peak every 2 hours, as well as a number of potential anomalies.

## 1. Load the data from Druid

In [10]:
from pydruid.client import *
import pandas as pd
import numpy as np
import plotly.graph_objects as go
from fbprophet import Prophet
import requests

In [11]:
url = 'http://54.78.73.75:8888/druid/v2/?pretty'


# define the Druid query
query = {'queryType': 'scan', 
         'dataSource': '1_1_OrdersNew', 
         'intervals': ['2020-06-01T08:00:00.000Z/2020-06-07T10:00:00.000Z'],
         'granularity': 'all'}

# run the Druid query
results = json.dumps(requests.post(url, headers={'Content-Type': 'application/json'}, json=query).json()[1]['events'])

# organize the results of the Druid 
# query in a pandas data frame
df = pd.read_json(results, orient='records')
df = df[['__time', 'Value']]
df.rename(columns={'__time': 'time', 'Value': 'value'}, inplace=True)
df.sort_values(by='time', inplace=True)

Print the first few rows of the data frame.

In [12]:
df.head()

                 time       value
0 2020-06-01 13:41:20   84.261481
1 2020-06-01 13:41:21  102.680356
2 2020-06-01 13:41:22   99.665364
3 2020-06-01 13:41:23   68.268485
4 2020-06-01 13:41:24   92.389898

Print the last few rows of the data frame.

In [13]:
df.tail()

                     time       value
20475 2020-06-01 19:22:35  110.930838
20476 2020-06-01 19:22:36   96.566745
20477 2020-06-01 19:22:37   93.197839
20478 2020-06-01 19:22:38   95.005933
20479 2020-06-01 19:22:39  102.138947

## 2. Perform some basic data analysis using pandas

Calculate the descriptive statistics.

In [14]:
df.describe()

              value
count  20480.000000
mean     100.207710
std       20.683617
min       34.727965
25%       83.203207
50%      100.324754
75%      117.277084
max      187.732693

Calculate the number of orders above and below some thresholds.

In [15]:
(df['value'] > 150).sum()

21

In [16]:
(df['value'] < 50).sum()

15

## 3. Plot the data with Plotly

The following code generates a basic time series plot with Plotly Express.

In [17]:
fig = px.scatter(df, x='time', y='value')
fig.update_traces(marker=dict(color='#b5babe'))
fig.update_layout(plot_bgcolor='white', paper_bgcolor='white')
fig.show()

NameError: name 'px' is not defined

The following code generates an interactive time series plot with Plotly Graph Objects. The buttons in the top left corner allow the user to display only the values of the time series over a recent time window (such as the last 10 minutes, the last 30 minutes, or the last hour). The slider on the bottom allows the user to display only the values of the time series over a custom selected time window. The user can additionally hover on the data points with the mouse to display a tooltip with the corresponding time and value. Additional interactive features (such as zooming in and out) are provided by the Plotly modebar, which appears on hover in the top right corner. Finally, the plot can be exported in HTML format to be included in a website, interactive report or dashboard.

In [ ]:
# create the layout
layout = {'plot_bgcolor': 'white', 
          'paper_bgcolor': 'white',
          'margin': {'t':10, 'b':10, 'l':10, 'r':10, 'pad':0},
          'showlegend': False,
          'yaxis': {'showgrid': True, 
                    'zeroline': False, 
                    'mirror': True, 
                    'color': '#737373', 
                    'linecolor': '#d9d9d9',
                    'gridcolor': '#d9d9d9',
                    'tickformat': '$,.0f'},
          'xaxis': {'range':[df['time'].min(), df['time'].max()],
                    'autorange': False,
                    'showgrid': True, 
                    'zeroline': False, 
                    'mirror': True, 
                    'color': '#737373', 
                    'linecolor': '#d9d9d9', 
                    'gridcolor': '#d9d9d9',
                    'type': 'date', 
                    'tickformat': '%d %b %y %H:%M', 
                    'tickangle': 0,
                    'nticks': 5,
                    'rangeslider': {'visible': True}, 
                    'rangeselector': {'buttons': [
                        {'count': 10, 'label': '10m', 'step': 'minute', 'stepmode': 'backward'}, 
                        {'count': 30, 'label': '30m', 'step': 'minute', 'stepmode': 'backward'}, 
                        {'count': 60, 'label': '60m', 'step': 'minute', 'stepmode': 'backward'}, 
                        {'step': 'all'}]}}}

# create the traces
data = go.Scatter(x=df['time'],
                  y=df['value'],
                  mode='markers',
                  marker=dict(color='#b5babe', size=5),
                  hovertemplate='<b>Time:</b> %{x|%d %b %Y %H:%M:%S}<br>'
                  '<b>Value:</b> %{y: $,.2f}<extra></extra>')

# create the figure
fig = go.Figure(data=data, layout=layout)

# display the figure
fig.show()

# export the figure
fig.write_html('orders_plot.html')